body {
    background-color:rgb(150, 223, 241);
    color: black;
    margin: 0 auto;
    display: block;
}

h1, h2 {
    text-align: center;
}

.container {
    color: black;
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    border-radius: 30px;
    padding: 20px;
    margin: auto;
    text-align: center;
}

#slider {
    width: 75%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    margin: auto;
}

#slider:hover {
    opacity: 1;
    cursor: pointer;
}

#submitted-word {
    height: 30px;
    width: 50%;
    border-radius: 20px;
    text-align: center;
}

p {
    text-align: center;
}

button {
    margin: 20px;
    padding: 10px 15px;
    border-radius: 15px;
    border-width: 2px;
    border-color: gray;
}

button:hover {
    cursor: pointer;
    border-color: black;
}

#word-definition {
    color: black;
    font-style: italic;
}

#word-definition:hover {
    cursor: pointer;
    /* color: rgb(97, 97, 97); */
    /* text-decoration: underline; */
}

#close-popup {
    background: none;
    border: none;
    font-style: oblique;
    font-size: xx-large;
}

#popup {
    position: absolute;
    top: 20%;
    margin: 25%;
    background: rgb(150, 223, 241);
    width: 300px;
    height: 200px;
    z-index: 99;
}

#popup-header {
    display: flex;
    justify-content: space-between;
}

#bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 0;
}

h3 {
    padding: 15px;
}